.App {
  padding: 50px;
}

.App ul,
.App li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App input[type="text"],
.App button {
  height: 40px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 5px;
}
.App input[type="text"] {
  border: 1px solid #ddd;
}

.App button {
  background: #fff;
  border: 1px solid #09F;
  color: #09F;
  padding: 5px 20px;
  transition: 0.3s;
}

.App button:hover {
  background: #09F;
  color: #fff;
}

.todoBottom {
  display: flex;
  gap: 5px;
}

.todoBottom p,
.todoBottom span {
  padding: 0;
  margin: 0;
}

.todoBottom span {
  margin-right: 10px;
}

